<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-item class="form-item">
  <ion-label position="stacked">Origen</ion-label>
  <ion-select placeholder="Seleccionar origen">
    <ion-select-option value="1">Opción 1</ion-select-option>
    <ion-select-option value="2">Opción 2</ion-select-option>
    <ion-select-option value="3">Opción 3</ion-select-option>
  </ion-select>
</ion-item>

<ion-item class="form-item">
  <ion-label position="stacked">Destino</ion-label>
  <ion-select placeholder="Seleccionar destino">
    <ion-select-option value="1">Opción 1</ion-select-option>
    <ion-select-option value="2">Opción 2</ion-select-option>
    <ion-select-option value="3">Opción 3</ion-select-option>
  </ion-select>
</ion-item>


